.bg{
  background-image: url("../public/assets/image/bg.jpg");
  background-size: cover;
  background-repeat: repeat;
}
.imgDiv {
  display: inline-grid;
  margin: 10px;
  border: 5px;
  border-color: #2D2E3A;
  border-radius: 5px;
}
.imgDiv button {
  margin: 10px auto 0px auto;
}

.ref-link{
  color: #C53AAE; 
}
.container {
  color:beige;
  background-image: url("../public/assets/image/bg.jpg");
  background-size: cover;
  min-height: 100vh;
  justify-content: center;
  text-align: center;
}

.connect-container {
  justify-content: center;
  text-align: center;
  color: beige;
  align-items: center;
  background-image: url("../public/assets/image/bg.jpg");
  background-size: cover;
  min-height: 100vh;
}

.disconnect-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 7px 5px;
  border-radius: 5px;
  background-color: #C53AAE;
  color: white;
  cursor: pointer;
}

.disconnect-button:hover {
  background-color: #2D2E3A;

}

.connect-button{
  padding: 7px 5px;
  border-radius: 5px;
  background-color: #C53AAE;
  color: white;
  align-items: center;
  margin-top: 50px;
}

.connect-button:hover{
  background-color: #2D2E3A;
}
.mint_btn {
  padding: 7px 5px;
  border-radius: 5px;
  background-color: #C53AAE;
  color: white;
}

.mint_btn:hover {
  background-color: #2D2E3A;
}

.withdraw_btn {
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: #010e43;
  color: rgb(255, 255, 255);
}

.withdraw_btn:hover {
  background-color: #3739b1;
}

.imgGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 50px;
  margin-top: 50px;
  grid-auto-flow: dense;
  /* width: 100%; */
}

@media screen and (max-width: 1000px) {
  .imgGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .imgGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
